<footer class="container-fluid d-flex bg-light" style="min-height: 100px; margin-top: 100px;">
    <div class="m-auto text-center text-muted">
        <p>Site en cours de construction</p>
        <p>2020</p>
    </div>
    <div class="m-auto text-center">
        <a class="mx-2" target="_blank" href="https://www.linkedin.com/in/sofiandoual/"><img height="24px" src="assets/logo/logo_linkedin.png" alt=""></a>
        <a class="mx-2" target="_blank" href="https://github.com/SofianD"><img src="assets/logo/logo_github.png" alt=""></a>
        <hr>
        <a href="mailto:">sofiand.dev@gmail.com</a>
    </div>

</footer>
