<!-- <ngx-spinner
    bdColor = "rgba(0, 0, 0, 0.8)"
    size = "large"
    color = "#fff"
    type = "ball-climbing-dot"
    [fullScreen] = "true">
        <p style="color: white" > Ce n'est qu'une question de secondes... </p>
</ngx-spinner> -->

<div class="d-flex pres-container text-focus-in" style="background-image: url('./assets/home/pres_bg.jpg');">
    <div class="m-auto text-center w-100 tracking-in-expand" style="color: white;">
        <h2 class="font-Anton">Développeur Web</h2>
        <h1>Front-End & Back-End</h1>
        <br>
        <div style="height: 50px; width: 100px;" class="d-none"></div>
        <div class="d-none">
            <p>Nodejs - Javascript - Python - HTML & CSS - SQL & NoSQL - Git...</p>
            <p>Angular - NestJS - MongoDB - MySQL - Express  - Electron - API REST...</p>
            <p>Windows - Kali Linux - Ubuntu Linux</p>
        </div>
    </div>
</div>

<div class="container text-focus-in" style="width: 100%; margin-top: 150px;">
    <h1 class="text-center">Bienvenue</h1>
    <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>

<div class="d-none d-lg-block container text-focus-in" style="width: 100%; margin-bottom: 200px;">
    <div id="body-carousel">
        <div class="scene">
            <div class="carousel">
                <div class="carousel__cell"><img class="w-100 rounded border border-dark" src="assets/db_projects/images/pba/home.png" alt="Projects overview"></div>
                <div class="carousel__cell"><img class="w-100 rounded border border-dark" src="assets/db_projects/images/pba/footer.png" alt="Projects overview"></div>
                <div class="carousel__cell"><img class="w-100 rounded border border-dark" src="assets/db_projects/images/portfolio_nico/admin_img2.png" alt="Projects overview"></div>
                <div class="carousel__cell"><img class="w-100 rounded border border-dark" src="assets/db_projects/images/portfolio_nico/overview_project.png" alt="Projects overview"></div>
                <div class="carousel__cell"><img class="w-100 rounded border border-dark" src="assets/db_projects/images/my_portfolio_v1/home.png" alt="Projects overview"></div>

                <div class="carousel__cell"></div>
                <div class="carousel__cell"></div>
                <div class="carousel__cell"></div>
                <div class="carousel__cell"></div>
                <div class="carousel__cell"></div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center" style="width: 100%; margin-top: 50px;">
    <h1 class="">Lorem Ipsum</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>

<!-- <div class="d-none container d-md-flex skills-overview-container my-4 py-4">
    <div *ngFor="let link of linksOfSkillsImg" class="col d-flex img-container">
        <img class="w-100 my-auto skill-img" [src]="link" alt="skills overview">
    </div>
</div> -->

<div class="d-none container d-md-flex marquee-container my-4">

    <div class="div1 marquee-anim">
        <div class="row px-3">
            <div *ngFor="let link of linksOfSkillsImg" class="col d-flex img-container">
                <img class="w-100 my-auto skill-img" [src]="link" alt="skills overview">
            </div>
        </div>
    </div>
    <div class="div2 marquee-anim">
        <div class="row px-3">
            <div *ngFor="let link of linksOfSkillsImg" class="col d-flex img-container">
                <img class="w-100 my-auto skill-img" [src]="link" alt="skills overview">
            </div>
        </div>
    </div>

</div>