<footer class="container-fluid d-flex bg-light py-4" style="min-height: 100px; margin-top: 100px;">

    <div class="m-auto text-center">
        <a class="mx-2" target="_blank" href="https://www.linkedin.com/in/sofiandoual/"><img height="24px" src="assets/logo/logo_linkedin.png" alt="Mon linkedIn"></a>
        <a class="mx-2" target="_blank" href="https://github.com/SofianD"><img src="assets/logo/logo_github.png" alt="Mon GitHub"></a>
        <a class="mx-2" target="_blank" href="mailto:sofiand.dev@gmail.com"><img height="24px" src="assets/logo/logo_email.png" alt="Mon email"></a>
        <hr>
        <div class="text-muted" style="font-size: 0.8rem;">
            <p>Site en cours de construction - 2020</p>
            <p>Sofian D.</p>
        </div>
    </div>
    
</footer>
