.pj-title {
    font-size: 2rem;
    padding-bottom: 10px;
    transition: 0.5s;
}

.pj-subtitle {
    font-weight: bold;
    font-size: 1rem;
}

.img-pres{
    transition: 0.5s;
}

.img-pres:hover {
    cursor: pointer;
    /* filter: blur(2px); */
    transition: 0.5s;
}

.pj-container {
    background: linear-gradient(-25deg, rgba(199, 197, 176, 0.397), #ffffff, #ffffff);
    transition: 0.5s;
}

.pj-btn:hover {
    filter: invert(100%);
    transition: 0.3s;
}
.link-btn-container {
    justify-content: space-between;
}

@media screen and (min-width: 920px) {
    .pj-container {
        filter: grayscale(100%);
        transition: 1s;
        max-width: 991px;
    }
    .pj-details {
        font-size: 0.9rem;
    }



    .blur {
        filter: blur(2px);
        transition: 0.5s;
    }

    .pj-container:hover,
    .pj-container:focus {
        transition: 0.5s;
        filter: grayscale(0);
    }    
}