img {
    cursor: pointer;
}
.pj-title {
    font-size: 2rem;
    padding-bottom: 10px;
    transition: 0.5s;
}

.pj-subtitle {
    font-weight: bold;
    font-size: 1rem;
}

.img-pres{
    transition: 0.5s;
}

.img-pres:hover {
    /* filter: blur(2px); */
    transition: 0.5s;
}

.pj-container {
    background: linear-gradient(-25deg, rgba(199, 197, 176, 0.397), #ffffff, #ffffff);
    transition: 0.5s;
}

.pj-btn:hover {
    filter: invert(100%);
    transition: 0.3s;
}
.link-btn-container {
    justify-content: space-between;
}

.canvas-img {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(33, 34, 22, 0.69);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.images-container {
    width: 100%;
    max-width: 1080px;
}

.desc-container {
    text-align: center;
}

.fakeRow {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 919px) {
    .salefdp {
        padding: 0;
    }
}

@media screen and (min-width: 920px) {
    .pj-container {
        filter: saturate(90%);
        transition: 1s;
        max-width: 1110px;
    }

    .fakeRow {
        flex-direction: column;
    }

    .blur {
        filter: blur(2px);
        transition: 0.5s;
    }

    .pj-container:hover,
    .pj-container:focus {
        transition: 1s;
        filter: saturate(150%);
    }    
}