.head-container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.head-img {
    width: 100%;
    max-width: 700px;
    cursor: initial;
}

.pj-title {
    font-size: 2rem;
    padding-bottom: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.txt-stroke {
    -webkit-text-fill-color: rgba(64, 92, 134, 0.986);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.pj-subtitle {
    font-weight: bold;
    font-size: 1rem;
}

.img-pres {
    cursor: zoom-in;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}

.img-pres:hover {
    /* filter: blur(2px); */
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}
.pj-body {
    overflow: hidden;
}

.pj-container {
    background:rgba(255, 255, 255, 0.9);
    margin-top: 120px;
    filter: blur(0);
    -webkit-filter: blur(0);
    transform: translateZ(0) translateX(0) scaleX(1);
    -webkit-transform: translateZ(0) translateX(0) scaleX(1);
    -moz-transform: translateZ(0) translateX(0) scaleX(1);
    -ms-transform: translateZ(0) translateX(0) scaleX(1);
    -o-transform: translateZ(0) translateX(0) scaleX(1);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.pj-container:nth-of-type(2n) {
    transform-origin: left;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
}

.pj-container:nth-of-type(2n+1) {
    transform-origin: right;
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    -ms-transform-origin: right;
    -o-transform-origin: right;
}

.not-visible {
    opacity: 0;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.not-visible:nth-of-type(2n) {
    transform: translateZ(0) translateX(-200px) scaleX(0.5);
    -webkit-transform: translateZ(0) translateX(-200px) scaleX(0.5);
    -moz-transform: translateZ(0) translateX(-200px) scaleX(0.5);
    -ms-transform: translateZ(0) translateX(-200px) scaleX(0.5);
    -o-transform: translateZ(0) translateX(-200px) scaleX(0.5);
}

.not-visible:nth-of-type(2n+1) {
    transform: translateZ(0) translateX(200px) scaleX(0.5);
    -webkit-transform: translateZ(0) translateX(200px) scaleX(0.5);
    -moz-transform: translateZ(0) translateX(200px) scaleX(0.5);
    -ms-transform: translateZ(0) translateX(200px) scaleX(0.5);
    -o-transform: translateZ(0) translateX(200px) scaleX(0.5);
}

.pj-btn {
    background-color: white;
}

.pj-btn:hover {
    filter: invert(100%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}

.link-btn-container {
    justify-content: space-between;
}

.canvas-img {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(33, 34, 22, 0.849);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 6;
}

.images-container {
    width: 100%;
    max-width: 1080px;
}

.desc-container {
    text-align: center;
}

.fakeRow {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 919px) {
    .no-padding {
        padding: 0;
    }
}

@media screen and (min-width: 920px) {
    .pj-container {
        max-width: 1110px;
    }

    .fakeRow {
        flex-direction: column;
    }

    .blur {
        filter: blur(2px);
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
    }  
}