.act-body {
    margin-top: 90px;
    min-height: 80%;
}

.list-style-type-dec {
    list-style-type: decimal-leading-zero;
}

.gh-card {
    background: linear-gradient(0, #ffffff2a, rgba(255, 255, 255, 0.705), rgba(255, 255, 255, 0.836));
}

.badge-success a {
    text-decoration: underline;
}

.gh-card-title {
    background: rgba(74, 87, 86, 0.096);
}