.act-body {
    min-height: 80%;
}

.octocat-container {
    position: fixed;
    right: 10%;
    bottom: -800px;
    width: 200px;
    opacity: 0;
    /* z-index: -1; */
}

.gh-photo-container {
    position: fixed;
    left: 10%;
    bottom: -50px;
    width: 150px;
    opacity: 0;
    /* z-index: -1; */
}

.list-style-type-dec {
    list-style-type: decimal-leading-zero;
}

.gh-card {
    background: linear-gradient(0, #ffffff2a, rgba(255, 255, 255, 0.705), rgba(255, 255, 255, 0.836));
}

.badge-success a {
    text-decoration: underline;
}

.gh-card-title {
    background: rgba(74, 87, 86, 0.1);
}

@media screen and (min-width: 920px) and (min-height: 600px) {
    .octocat-container,
    .gh-photo-container {
        opacity: 1;
    }
}