<div class="octocat-container">
    <img class="w-100" src="./assets/global/octocat.png" alt="">
</div>

<div class="gh-photo-container">
    <img class="w-100" src="./assets/global/gh_photo.png" alt="">
</div>

<div *ngIf="!isLoading" class="container head-container">
    <img class="head-img" src="./assets/activities/o.png" alt="">
    <div class="row" style="margin-top: 50px;">
        <div class="col-6">
            <button type="button" class="btn btn-dark" (click)="changeMode('activity')">Activities</button>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-dark" (click)="changeMode('projects')">Projects</button>
        </div>
    </div>
</div>

<div *ngIf="isLoading" class="container" style="height: 600px;">
    <ngx-spinner
    [fullScreen] = "false"
    bdColor = "rgba(0, 0, 0, 0)"
    size = "large"
    color = "#00000090"
    type = "ball-clip-rotate-multiple">
    </ngx-spinner>
</div>

<div *ngIf="ghActivities.length === 0 && mode === 'activity'" class="container" style="height: 100vh;"></div>
<div *ngIf="ghProjects.length === 0 && mode === 'projects'" class="container" style="height: 100vh;"></div>
<div *ngIf="mode === 'projects' && ghProjects.length > 0" class="container text-focus-in" style="margin-top: 100px; min-height: 60%;">
    <div class="row">
        <div *ngFor="let project of ghProjects" class="col-12 col-md-4 px-1 py-2 tracking-in-expand">
            <div class="border rounded p-1 bg-white shadow" style="height: 100%;">
                <div class="d-flex mb-2 border-bottom" style="flex-direction: row; align-items: center; font-weight: 550;">
                    <img src="assets/activities/folder-icon.png" alt="folder icon" class="mr-2">
                    <a [href]="project.link" target="_blank" style="text-decoration: underline;">{{project.name}}</a>
                </div>
                
                <p style="font-size: 0.9rem;">"{{project.description}}"</p>
                <!-- <p style="font-size: 0.9rem;">{{project.techno}}</p> -->
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isLoading && mode === 'activity'" class="container act-body text-focus-in">

    <div *ngFor="let activity of ghActivities" class="row" style="margin: 75px 0;">

        <!-- PUSH EVENT -->
        <div *ngIf="activity.type === 'PushEvent'" class="col-12">
            <div class="row d-flex">

                <div class="col-12 col-md-9 col-lg-7 m-auto mt-4 rounded px-0 gh-card border">
                    <div class="row p-1 m-0 px-2 d-flex rounded-top gh-card-title border-bottom">
                        <div class="col-11 p-0 d-flex" style="justify-content: space-between; align-items: center;">
                            <div class="d-flex" style="flex-wrap: wrap; align-items: center;"> 
                                <p>
                                    <a class="font-weight-bold" target="_blank" [href]="ghLink">{{ghPseudo}}</a>
                                    
                                </p>
                                <p class="d-flex flex-wrap">
                                    <span class="badge badge-success mx-1">
                                        push 
                                        <span *ngIf="activity.commits.length <= 1" class="font-weight-bold">{{activity.commits.length}} commit </span>
                                        <span *ngIf="activity.commits.length > 1" class="font-weight-bold">{{activity.commits.length}} commits </span>
                                         into <a target="_blank" [href]="activity.repo.link + '/tree/' + activity.repo.branch">{{activity.repo.name}}/{{activity.repo.branch}}</a>
                                    </span>
                                    <span style="font-size: 0.8rem;"> - {{activity.date}}</span>
                                </p>
                            </div>
                            <div>
                            </div>
                        </div>
                        <div class="col-1 p-0 d-flex">
                            <a class="ml-auto my-auto" target="_blank" [href]="ghLink"><img class="w-100 shadow-sm" [src]="ghAvatar" alt="Github avatar" style="max-width: 40px !important; border-radius: 100%; border: solid 1px white;"></a>
                        </div>
                        <div class="col-12 p-0">
                            
                        </div>                   
                    </div>


                    <div class="row w-100 m-0 d-flex bg-white">
                        
                        <div class="col-12 p-1 text-center tracking-in-expand">
                            
                            <ul class="list-style-type-dec px-4">
                                <li *ngFor="let msg of activity.commits" style="font-size: 0.9rem;">
                                    {{msg}}
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

</div>