.navbar{
    font-family: 'HammerSmith', sans-serif;
    background: linear-gradient(0, rgb(235, 235, 235), #ffffff, #ffffff, #ffffff, #ffffff);

}

.container{
    max-width: 991px;
}

a {
    transition: 0.2s;
}

.link-container a:hover {
    transform: scale(1.2);
    color: inherit;
    transition: 0.2s;
}

.link-container {
    flex-direction: row;
    justify-content: flex-end;
}

@media screen and (max-width: 991px) {
    .logo-container {
        text-align: center;
    }

    .link-container {
        flex-direction: row;
        justify-content: space-around;
    }
}