<nav class="navbar navbar-light bg-light tracking-in-expand">

    <div class="container p-0">

        <div class="col-12 col-lg-6 p-0 logo-container">
            <p><span class="mb-0" style="font-size: 1.5rem; font-weight: bold;"><a [routerLink]="['']">MyPortfolio</a></span></p>
        </div>

        <div class="col-12 col-lg-6 p-0 mb-0 ml-auto d-flex link-container">
            <a class="mx-3 my-auto" [routerLink]="['']">Home</a>
            <a class="mx-3 my-auto" [routerLink]="['projects']">Projects</a>
            <a class="mx-3 my-auto" [routerLink]="['']">Contact</a>
        </div>

    </div>

</nav>